:root {
  --iris-brand-color: #4d5ae5;
  --ocean-pressed-color: #404bbf;
  --navyblue-dark-color: #2e2f42;
  --green-success-color: #31d0aa;
  --slate-text-color: #434455;
  --lightslate-subtle-color: #8e8f99;
  --cornflower-accent-color: #e7e9fc;
  --cloud-light-color: #f4f4fd;
  --navyblue-modal-color: rgba(46, 47, 66, 0.4);
  --grey-hero-color: rgba(46, 47, 66, 0.7);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--slate-text-color);
  background-color: #fff;
}

.hidden-title {
  display: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* --- HEADER --- */

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navyblue-dark-color);
}

.logo-element {
  color: var(--iris-brand-color);
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.nav-list .link {
  color: var(--navyblue-dark-color);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--ocean-pressed-color);
}

.nav-list .link.active {
  color: var(--ocean-pressed-color);
}

/* .address-list {
  
} */

.address-link {
  font-style: normal;
  /* font-weight: 400;
  font-size: 16px; */
  line-height: 1.5;
  color: var(--slate-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean-pressed-color);
}

/* Hero section  */
